@use '../util/' as u;
@use '../globals/' as g;

#top-navigation {

    width: 100%;
}

.main-menu .navigation {
    position: static;
    margin: 0;
}

.main-menu .navigation > li {
    position: relative;
    float: left;
    margin-right: u.rem(35);
    padding: u.rem(35), 0, u.rem(15);
}


.main-menu .navigation > li:last-child{
   margin-right: 0;
}

.main-menu .navigation > li > a {
    display: block;
    position: relative;
    color: g.$black;
    text-align: center;
    line-height: u.rem(30);
    overflow: hidden;
}