@use '../util/' as u;

.moesgaard_pagination {

    position: relative;
    padding-top: u.rem(40);
    text-align: center;

}

.moesgaard_pagination li {

    position: relative;
    margin-left: u.rem(6);
    display: inline-block;

}

.moesgaard_pagination li  .page-numbers {

    position: relative;
    width: u.rem(40);
    height: u.rem(40);
    text-align: center;
    display: inline-block;
    border-radius: u.rem(50);



}

.moesgaard_pagination li  .page-numbers.current,
.moesgaard_pagination li:hover a {

  

}