@use '../util/' as u;
@use 'colors';

html {
    font-size: 100%;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: white;
    color: colors.$black;
    font-family: 'suisse_intlregular';
}

a, a:visited, a:active {
    text-decoration: none;
    color: colors.$black
}